@import '../../sass/colors';
@import '../../sass/mixins';
@import '../../sass/fonts';

.hero-text {
  margin: 0 1rem;

  &__title {
    @include heroTitle;
  }

  &__description {
    @include bigLetters;
    max-width: 800px;
    text-transform: none;
  }

  &__image {
    // position: absolute;
    // top: 0;
    // left: 0;
    z-index: -1;
    width: 100%; /* Set a width to fill its container */
    object-fit: cover; /* Fits the image inside the container without stretching */
  }
}

@media only screen and (max-width: 450px) {
  .hero-text {
    text-align: center;
    &__title {
      font-size: 5rem;
    }

    &__description {
      text-transform: none;
      font-size: 11px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .hero-text {
    text-align: center;
    &__title {
      font-size: 4rem;
    }
  }
}
