@import '../../sass/colors';
@import '../../sass/mixins';
@import '../../sass/fonts';

.hero-text {
  text-align: center;
  &__title {
    @include heroTitle;
  }

  &__description {
    @include bigLetters;
    max-width: 800px;
    margin: auto;
  }
}

@media only screen and (max-width: 450px) {
  .hero-text {
    text-align: center;
    &__title {
      font-size: 5rem;
    }

    &__description {
      text-transform: none;
      font-size: 11px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .hero-text {
    text-align: center;
    &__title {
      font-size: 4rem;
    }
  }
}
