@import './sass/colors';
@import './sass/mixins';
@import './sass/fonts';

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: $black;
  color: $white;
}

/* SCROLLBAR DESIGN! */
body::-webkit-scrollbar {
  width: 0.7rem;
  background-color: $black;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $black;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  background-color: $black;
  outline: 1px solid rgba(217, 255, 227, 0.43);
  border-radius: 50px;
}

.home {
  // max-width: 1440px;
  margin: auto;
}

.hero-img-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  @media (max-width: 800px) {
    align-items: center;
  }

  &__image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
