@import './sass/colors';
@import './sass/mixins';
@import './sass/fonts';

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: $black;
  color: $white;
  min-height: 100vh;
}

.home {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__eco-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
