@import "../../sass/colors";
@import "../../sass/mixins";
@import "../../sass/fonts";

.register-email-form {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 0.5rem 0;

  &__registerBTN {
    @include btnTransparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__container {
    &__errorMSG {
      color: rgb(243, 96, 96);
    }

    &__input {
      @include input;
    }
  }
}

@media only screen and (max-width: 450px) {
  .register-email-form {
    justify-content: center;
    flex-wrap: wrap;

    &__container {
      &__input {
        width: 300px;
      }
    }
  }
}
