@import '../../sass/colors';
@import '../../sass/mixins';
@import '../../sass/fonts';

.register-email-form {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 3rem 1rem 2rem 1rem;
  padding-bottom: 1rem;

  &__registerBTN {
    @include btnTransparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: black;
  }

  &__container {
    &__errorMSG {
      color: rgb(243, 96, 96);
    }

    &__input {
      @include input;
      font-weight: 500;
      font-size: 1rem;
      color: black;
      &::placeholder {
        color: #0000004d;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .register-email-form {
    justify-content: center;
    flex-wrap: wrap;
    &__container {
      &__input {
        width: 250px;
      }
    }
  }
}
