@import '../../sass/fonts';

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
  justify-content: space-between;

  &__container {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0.8rem;

    p {
      font-size: 0.8rem;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
