@import '../../sass/fonts';

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  justify-content: space-around;

  &__container {
    text-align: center;
    align-items: center;
    gap: 2rem;

    p {
      @include useFontMiriamLibre;
      font-size: 0.8rem;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
