@import '../../sass/colors';
@import '../../sass/mixins';
@import '../../sass/fonts';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem 0;

  &__logo {
    width: 40px;
    height: auto;
  }
}
