@import '../../sass/colors';
@import '../../sass/mixins';
@import '../../sass/fonts';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 0 1rem;
  margin: auto;
  padding: 1rem;
  max-width: 1440px;

  &__logo {
    width: 40px;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    margin: 0 0.5rem;
    padding: 0.6rem 0;

    &__logo {
      width: 25px;
    }
  }
}
